body {
  font-family: 'PT Sans, Helvetica Neue', sans-serif;
  color: #444444;
}

h1, h2, h3 {
  font-family: 'Bree Serif', serif;
}

h1 {
  font-size: 3rem;
}

a.nav-link {
  display: flex;
  align-items: center;
}

a.nav-link svg {
  margin-right: 5px;
}